In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Barrow,US,2020-06-19 21:12:39,71.29,-156.79,35.60,86,90,9.17
1,1,Macherla,IN,2020-06-19 21:18:29,16.48,79.43,82.49,74,100,9.08
2,2,Aberdeen,GB,2020-06-19 21:18:29,57.14,-2.10,55.00,93,90,6.93
3,3,Saint George,US,2020-06-19 21:11:44,37.10,-113.58,93.00,8,1,4.70
4,4,Leningradskiy,RU,2020-06-19 21:13:45,69.38,178.42,47.55,59,85,4.25

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating= False, max_intensity=300, 
                                point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Macherla,IN,2020-06-19 21:18:29,16.48,79.43,82.49,74,100,9.08
5,5,Albany,US,2020-06-19 21:07:25,42.60,-73.97,87.01,57,56,4.65
16,16,Itoman,JP,2020-06-19 21:12:26,26.12,127.67,82.40,94,75,12.75
25,25,Faanui,PF,2020-06-19 21:10:48,-16.48,-151.75,80.04,77,87,4.38
26,26,Puerto Ayora,EC,2020-06-19 21:10:02,-0.74,-90.35,80.60,61,40,24.16
28,28,Carutapera,BR,2020-06-19 21:18:35,-1.20,-46.02,77.99,88,66,7.72
29,29,Akyab,MM,2020-06-19 21:14:43,20.15,92.90,81.66,84,99,9.10
31,31,Kapaa,US,2020-06-19 21:11:33,22.08,-159.32,79.00,94,90,20.80
32,32,Jamestown,US,2020-06-19 21:09:47,42.10,-79.24,78.01,50,90,2.89
34,34,Goderich,CA,2020-06-19 21:09:52,43.75,-81.72,82.00,58,48,6.60

In [14]:
preferred_cities_df.notnull().sum()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
1       Macherla      IN     82.49  16.48   79.43
5         Albany      US     87.01  42.60  -73.97
16        Itoman      JP     82.40  26.12  127.67
25        Faanui      PF     80.04 -16.48 -151.75
26  Puerto Ayora      EC     80.60  -0.74  -90.35
28    Carutapera      BR     77.99  -1.20  -46.02
29         Akyab      MM     81.66  20.15   92.90
31         Kapaa      US     79.00  22.08 -159.32
32     Jamestown      US     78.01  42.10  -79.24
34      Goderich      CA     82.00  43.75  -81.72

In [16]:
# Retrieving hotels from nearby search. Step 1- Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude. (final parameter)
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Macherla,IN,82.49,16.48,79.43,Vivek express
5,Albany,US,87.01,42.60,-73.97,
16,Itoman,JP,82.40,26.12,127.67,Southern Beach Hotel & Resort Okinawa
25,Faanui,PF,80.04,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
26,Puerto Ayora,EC,80.60,-0.74,-90.35,Finch Bay Galapagos Hotel
28,Carutapera,BR,77.99,-1.20,-46.02,Lidera
29,Akyab,MM,81.66,20.15,92.90,Hotel Memory
31,Kapaa,US,79.00,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
32,Jamestown,US,78.01,42.10,-79.24,Hampton Inn & Suites Jamestown
34,Goderich,CA,82.00,43.75,-81.72,Harmony Inn

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]