# Challenge Part 2

In [51]:
# Import the dependencies.
import gmaps
import requests
import pandas as pd
# Import the API key.
from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [52]:
# Starting URL for Weather Map API Call.
# url = f"http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID={g_key}"

# Import CSV-DataFrame

In [53]:
city_weather_data_df = pd.read_csv("weather_data/WeatherPy_Database.csv")

In [54]:
city_weather_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather Description,Rain (inches),Snow (inches)
0,0,Bluff,NZ,-46.60,168.33,38.59,82,0,4.83,clear sky,0.00,0
1,1,Upernavik,GL,72.79,-56.15,41.22,69,100,6.60,overcast clouds,0.00,0
2,2,Barrow,US,71.29,-156.79,44.60,75,90,16.11,overcast clouds,0.00,0
3,3,Mount Gambier,AU,-37.83,140.77,48.20,100,75,9.17,shower rain,0.00,0
4,4,Hermanus,ZA,-34.42,19.23,55.00,93,51,3.44,broken clouds,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...
575,575,Chicama,PE,-7.84,-79.15,72.95,58,5,9.44,clear sky,0.00,0
576,576,Corralillo,CU,22.98,-80.59,85.17,73,3,11.56,clear sky,0.00,0
577,577,Mishan,CN,45.55,131.88,60.42,96,100,3.20,overcast clouds,0.00,0
578,578,Gimli,CA,50.63,-96.99,60.01,86,99,4.00,overcast clouds,0.00,0
579,579,College,US,64.86,-147.80,53.60,87,90,5.82,mist,0.25,0

In [55]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [56]:
raining = input("Do you want it to be raining? (yes/no)")
snowing = input("Do you want it to be snowing? (yes/no)")

Do you want it to be raining? (yes/no)no
Do you want it to be snowing? (yes/no)no

In [57]:
# Filter the dataset to find the cities that fit the criteria.
if raining == "no" and snowing == "no":
    filtered_cities_df = city_weather_data_df.loc[(city_weather_data_df["Max Temp"] <= max_temp) &
                                       (city_weather_data_df["Max Temp"] >= min_temp) &
                                        (city_weather_data_df["Rain (inches)"] == 0) &
                                       (city_weather_data_df["Snow (inches)"] == 0)]
elif raining == "no" and snowing == "yes":
    filtered_cities_df = city_weather_data_df.loc[(city_weather_data_df["Max Temp"] <= max_temp) &
                                       (city_weather_data_df["Max Temp"] >= min_temp) &
                                        (city_weather_data_df["Rain (inches)"] == 0) &
                                       (city_weather_data_df["Snow (inches)"] >= 0.0)]
elif raining == "yes" and snowing == "no":
    filtered_cities_df = city_weather_data_df.loc[(city_weather_data_df["Max Temp"] <= max_temp) &
                                       (city_weather_data_df["Max Temp"] >= min_temp) &
                                        (city_weather_data_df["Rain (inches)"] > 0.0) &
                                       (city_weather_data_df["Snow (inches)"] == 0)]
else:
    filtered_cities_df = city_weather_data_df.loc[(city_weather_data_df["Max Temp"] <= max_temp) &
                                       (city_weather_data_df["Max Temp"] >= min_temp) &
                                        (city_weather_data_df["Rain (inches)"] > 0.0) &
                                       (city_weather_data_df["Snow (inches)"] > 0)]
filtered_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather Description,Rain (inches),Snow (inches)
12,12,Vaini,TO,-21.20,-175.20,75.20,100,75,4.70,broken clouds,0.0,0
13,13,Champerico,GT,14.30,-91.92,86.56,70,1,9.66,clear sky,0.0,0
17,17,Phan Thiet,VN,10.93,108.10,78.19,87,100,2.17,overcast clouds,0.0,0
18,18,Chapais,CA,49.78,-74.85,89.60,31,20,14.99,few clouds,0.0,0
20,20,Elko,US,41.00,-115.50,82.40,17,1,14.99,clear sky,0.0,0
22,22,Laguna,US,38.42,-121.42,90.00,41,74,1.99,broken clouds,0.0,0
23,23,Timberlake,US,37.32,-79.26,87.01,54,40,4.70,scattered clouds,0.0,0
32,32,Sterling,US,39.01,-77.43,87.01,51,40,3.42,scattered clouds,0.0,0
33,33,Acarau,BR,-2.89,-40.12,81.82,73,23,11.92,few clouds,0.0,0
39,39,Valle De Banderas,MX,20.80,-105.23,87.01,62,20,13.87,few clouds,0.0,0

In [58]:
filtered_cities_df.notnull().sum()

City_ID                        182
City                           182
Country                        182
Lat                            182
Lng                            182
Max Temp                       182
Humidity                       182
Cloudiness                     182
Wind Speed                     182
Current Weather Description    182
Rain (inches)                  182
Snow (inches)                  182
dtype: int64

In [59]:
# Create DataFrame to store hotel names along with city, country and current weather description with max temp
hotel_data_df = filtered_cities_df[["City", "Country","Max Temp","Current Weather Description","Lat","Lng"]].copy()
hotel_data_df["Hotel Name"] = ""
hotel_data_df.head(10)

,City,Country,Max Temp,Current Weather Description,Lat,Lng,Hotel Name
12,Vaini,TO,75.20,broken clouds,-21.20,-175.20,
13,Champerico,GT,86.56,clear sky,14.30,-91.92,
17,Phan Thiet,VN,78.19,overcast clouds,10.93,108.10,
18,Chapais,CA,89.60,few clouds,49.78,-74.85,
20,Elko,US,82.40,clear sky,41.00,-115.50,
22,Laguna,US,90.00,broken clouds,38.42,-121.42,
23,Timberlake,US,87.01,scattered clouds,37.32,-79.26,
32,Sterling,US,87.01,scattered clouds,39.01,-77.43,
33,Acarau,BR,81.82,few clouds,-2.89,-40.12,
39,Valle De Banderas,MX,87.01,few clouds,20.80,-105.23,

In [60]:
# Retrieving hotels from nearby search. Step 1- Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_data_df.iterrows():
    # Get the latitude and longitude. (final parameter)
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_data_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [82]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Weather Description</dt><dd>{Current Weather Description}</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

In [83]:
vacation_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Weather Description,Lat,Lng,Hotel Name
0,12,Vaini,TO,75.20,broken clouds,-21.20,-175.20,Keleti Beach Resort
1,13,Champerico,GT,86.56,clear sky,14.30,-91.92,"Hotel y restaurante ""El Diamante"""
2,17,Phan Thiet,VN,78.19,overcast clouds,10.93,108.10,Hotel Saigon-PT
3,18,Chapais,CA,89.60,few clouds,49.78,-74.85,HÃ´tel OpÃ©miska
4,20,Elko,US,82.40,clear sky,41.00,-115.50,NaN
5,22,Laguna,US,90.00,broken clouds,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
6,23,Timberlake,US,87.01,scattered clouds,37.32,-79.26,Timberlake Motel
7,32,Sterling,US,87.01,scattered clouds,39.01,-77.43,Hampton Inn & Suites Washington-Dulles Interna...
8,33,Acarau,BR,81.82,few clouds,-2.89,-40.12,castelo pizzaria
9,39,Valle De Banderas,MX,87.01,few clouds,20.80,-105.23,Rancho los Nietos

In [84]:
# Save DataFrame as CSV file
output_data = "weather_data/WeatherPy_vacation.csv"
hotel_data_df.to_csv(output_data, index_label ="City_ID")

In [85]:
# Create marker layer map with pop-up markers for each city
locations = vacation_df[["Lat", "Lng"]]
max_temp = hotel_data_df["Max Temp"]
weather_description = hotel_data_df["Current Weather Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))